.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 1em;

    p {
        // border: 1px solid red;
        font-size: 2rem;
        font-weight: 700;
        color: #0654ba;

    }

    .error {
        font-size: 1rem;
        text-align: center;
    }

    .email,
    .password {
        display: flex;
        flex-direction: column;
        gap: .2em;

        .password-eye {
            position: relative;
            border: 1px solid black;
            width: 300px;
            border-radius: .3em;

            .fa-eye,
            .fa-eyeSlash {
                position: absolute;
                top: 25%;
                right: 2px;
            }

            input {
                height: 35px;
                width: 280px;
                border: none;
                text-indent: 1em;
                font-size: 1rem;
                outline: none;

                &:focus {
                    border: none;
                }
            }
        }

        input {
            height: 35px;
            width: 300px;
            border-radius: .3em;
            text-indent: 1em;
            font-size: 1rem;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 1em;

        button {
            border: none;
            padding: .5em 1.5em;
            background-color: #0654ba;
            color: white;
            border-radius: .2em;
            font-weight: 600;
            cursor: pointer;
        }
    }
}