.main {
    .header {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        gap: 1em;
        padding: 1em 1em;
        position: relative;

        .top,
        .bottom {
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-weight: 600;
            }

            .bottom-right {
                display: flex;
                align-items: center;
                justify-self: center;
                gap: .5em;

                button {
                    border: none;
                    padding: .3em .5em;
                    background-color: #006efc;
                    color: white;
                    border-radius: 100vmax;
                }
            }
        }

        .nav {
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            background-color: #fff;
            padding: 1em 1em;

            p {
                font-size: 18px;
                font-weight: 700;
                color: #006efc;
                cursor: pointer;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }

            .icon-container {
                display: flex;
                justify-content: flex-end;

                .icon {
                    font-size: 2rem;
                    color: #999999;
                    cursor: pointer;
                }
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: .8em;
                padding-bottom: 1em;
                border-bottom: 2px solid #d3d3d3;
                margin-bottom: 1em;
                font-size: 18px;
                font-weight: 700;

                li {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .logo {
            height: 25px;
            width: 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .icons {
            color: #111820;
            display: flex;
            align-items: center;
            gap: 1em;
            font-size: 1.55rem;
            cursor: pointer;

            .bars {
                font-size: 1.25rem;
            }
        }
    }

    .hero {
        // border: 1px solid red;
        padding: 3em 0;

        .shipping {
            display: flex;
            align-items: center;
            margin-bottom: 1.5em;
            padding-inline: 1em;
            color: #333;
            cursor: pointer;
        }

        .ebay-image {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0em 2em;
            text-align: center;

            p {
                font-size: 18px;
                color: #333;
                margin-bottom: .5em;
            }
        }

        .result {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            // border: 1px solid red;
            padding: 0 1em;

            p {
                text-align: center;
                // margin-bottom: 1em;
                color: #333;
            }

            small {
                text-align: center;
            }

            .text {
                font-weight: 600;
                text-align: center;
                // border: 1px solid red;
                margin-bottom: 1em;
                margin-top: 1em;
            }

            .balance {
                font-size: 2rem;
                color: black;
            }

            .check-new {
                color: #006efc;
                cursor: pointer;
            }
        }

        .code {
            // border: 1px solid red;
            margin-top: 2em;
            padding-inline: .5em;
            width: 100%;

            p {
                font-size: 18px;
                color: #555;
                margin-bottom: .3em;
                text-align: center;
                font-weight: 600;
            }

            .error {
                color: #dd1e31;
                font-size: .687rem;
            }

            input {
                width: 100%;
                height: 50px;
                text-indent: 1em;
                margin-bottom: .1em;
                margin-top: 1em;
                border: 1px solid black;
                border-radius: 3px;
                color: #333;
                font-size: 16px;
                font-family: "Helvetica Neue",
                    Helvetica,
                    Arialsans-serif;

                &:focus {
                    border: 1px solid #0654ba;
                    outline: #0654ba;
                }
            }

            .check {
                // border: 1px solid red;
                width: 100%;
                margin-top: 1em;

                button {
                    width: 100%;
                    height: 42px;
                    border: none;
                    background-color: #0654ba;
                    color: #fff;
                    border-radius: 3px;
                    font-size: 1rem;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5em;
                }
            }
        }
    }

    .apple-image {
        display: flex;
        justify-self: center;
        margin-top: 1em;

        .apple {
            height: 300px;
            width: 300px;

            img {
                width: 100%;
            }

        }

    }

    .footer {
        padding: 2em 1em;
        margin-top: 2.5em;

        .ul {
            display: flex;
            flex-direction: column;
            gap: .8em;
            line-height: 1.5rem;
            padding-bottom: 1.25em;
            margin-bottom: 2.5em;
            border-bottom: 2px solid #fff;
            list-style: none;

            li {
                cursor: pointer;
                border-bottom: 1px solid grey;
                padding: .2em 0;
            }
        }

        .second {
            display: flex;
            justify-content: center;
            color: rgb(99, 98, 98);

            a {
                text-decoration: underline;
                text-align: center;
                line-height: 1.5em;

                span {
                    margin-right: .2em;
                }
            }
        }

        .last {
            text-align: center;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .classic {
                text-decoration: underline;
                color: black;
            }
        }
    }
}